@use '../styles/partials/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    height: 100px;
    width: 100%;
}

main {
    width: 100%;
    background-color: variables.$color-secondary;
}

footer {
    height: 80vh;
    width: 100%;
}